@*paginacion*@

@using PagedList;
@using PagedList.Mvc;

@*Agrego IPagedList*@

@model IPagedList<Cadres.Dto.VarillaDTO>

@*paginacion*@

@{
    ViewBag.Title = "Varillas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Varillas</h2>

<br />

<p>
    @Html.ActionLink("Agregar varilla", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Disponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Cantidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@*paginacion*@
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
@*paginacion*@